<h1>My Tasks</h1>
<% @tasks.each do |task| %>
    <% if task.completed == true %>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="" checked>
                <%= link_to task.title, task_path(task) %>
            </label>
        </div>
        <% else  %>
        <label>
            <input type="checkbox" value="">
            <%= link_to task.title, task_path(task) %>
        </label>
        </div>
    <% end %>
<% end %>
<%= link_to "+ Add new task", tasks_new_path %>


